

/* Beginning of React App starting CSS */

.App {
  text-align: center;
  width: 100vw;
}


.App-header {
  background-color: #000000;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 6em;
  color: white;
  margin-top: -170px;
}









/* Beginning of Move(E) CSS */
.mid-header {
  background-color: #000000;
  min-height: 150px;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menu-grid {
	display: grid;
  	grid-template-columns: 220px 1fr;
  
  	grid-gap: 1em;
  
}


.movie-card-container{
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1em;
}




.movie-images {
	float: left;
	width: 35em;
	border-radius: 2em;
	height: 50em;
	object-fit: cover;
	margin: 10px;
	border-style: var(--neon-border-color);
	
}

#images-comment-page {
	float: left;
	border-radius: 8px;
	height: 15em;
	object-fit: cover;
	margin: 10px;
	border-style: var(--neon-border-color);
}

h3 {
	color: #fff;
	font-size: 4em;
}

p {
	color: #fff;
	font-size: 2em;
	font-style: oblique;
	font-family: Arial, Helvetica, sans-serif;
}

.regtext{
	color: #fff;
	font-size: 15px;
	font-style: oblique;
	font-family: Arial, Helvetica, sans-serif;
	word-spacing: normal;
}

.menu {
	background-color: #000000;
	min-height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	
}

.scrollbox {
	overflow: scroll;
	height: 300px;
	width: 250px;
	border: solid rgb(135, 184, 236);

}


.menu {
	color: #fff;
	text-shadow:
	  0 0 5px #fff,
	  0 0 10px #fff,
	  0 0 20px #fff,
	  0 0 40px #0ff,
	  0 0 80px #0ff,
	  0 0 90px #0ff,
	  0 0 100px #0ff,
	  0 0 150px #0ff;
	font-size: 4em;
	flex-direction: column;
	
  }

.menu-option {
	word-spacing: 1em;
}  

/* #comment-page-grid {
	display: grid;
	
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 1em;
  
} */








/* neon lights CSS */


@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

:root {
	/* Base font size */
	font-size: 7px;   
	
	/* Set neon color */
	--neon-text-color: #f40;
	--neon-border-color: #08f;
}

body {
	font-family: 'Exo 2', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;  
	background: #000;
	min-height: 100vh;
}

h1 {
	font-size: 13rem;
	font-weight: 200;
	font-style: italic;
	color: #fff;
	padding: 4rem 6rem 5.5rem;
	border: 0.4rem solid #fff;
	border-radius: 2rem;
	text-transform: uppercase;
	animation: flicker 1.5s infinite alternate;     
}

.mid-header {
	font-size: 50px;
	font-weight: 200;
	font-style: italic;
	color: #fff;
	padding: -5px -4px 1px;
	border: 0.4rem solid #fff;
	border-radius: 2rem;
	text-transform: uppercase;
	animation: flicker 1.5s infinite alternate; 
	/* word-spacing: 1em; */
}




h1::-moz-selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
}

h1::selection {
	background-color: var(--neon-border-color);
	color: var(--neon-text-color);
}

h1:focus {
	outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
	
	0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
		
		text-shadow:
		-0.2rem -0.2rem 1rem #fff,
		0.2rem 0.2rem 1rem #fff,
		0 0 2rem var(--neon-text-color),
		0 0 4rem var(--neon-text-color),
		0 0 6rem var(--neon-text-color),
		0 0 8rem var(--neon-text-color),
		0 0 10rem var(--neon-text-color);
        
        box-shadow:
		0 0 .5rem #fff,
		inset 0 0 .5rem #fff,
		0 0 2rem var(--neon-border-color),
		inset 0 0 2rem var(--neon-border-color),
		0 0 4rem var(--neon-border-color),
		inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
		text-shadow: none;
        box-shadow: none;
    }    
}








